<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Movie App </title>
    <link rel="stylesheet" href="~/Content/style.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Session["ROLE"] != null && Session["USER_NAME"] != null)
                    {
                        //admin
                        if (Session["ROLE"].ToString().Equals("Admin"))
                        {
                            <li>@Html.ActionLink("Manager Article", "Index", "Admin")</li>
                            <li>@Html.ActionLink("Manager Account", "Index", "Accounts")</li>
                        }
                        else
                        {
                            // user
                            <li>@Html.ActionLink("Article", "Index", "Articles")</li>
                        }

                    }
                  
                    @if (Session["ROLE"] == null || Session["USER_NAME"] == null)
                    {
                        <li>@Html.ActionLink("Article", "Index", "Articles")</li>
                    }

                    <li>@Html.ActionLink("Post Articles", "Create", "Articles")</li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["USER_NAME"] == null)
                    {
                        <li>@Html.ActionLink("Register", "Register", "Accounts")</li>
                        <li>@Html.ActionLink("Login", "Login", "Accounts")</li>
                    }
                    @if (Session["USER_NAME"] != null)
                    {
                        <li class="navbar-text" style="color:white;">
                            <text>Welcome @Session["FULL_NAME"].ToString()</text>
                        </li>

                        <li>@Html.ActionLink("Profile", "Profile", "Accounts")</li>

                        <li>@Html.ActionLink("Logout", "Logout", "Accounts")</li>
                    }
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                    <form class="form-group navbar-text" action="Articles">
                        <input type="text" class="form-control"
                               name="searchVal"
                               placeholder="Search article" />
                    </form>
                </ul>
                    
            </div>

                
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
