@model WebApplication1.Models.UserAccount 
@{
    ViewBag.Title = "Login Page";
}


    <div style="margin-left:20%">
        <h2>LoginPage</h2>
        <br>
        <br>
        <div style="color: red;" class="col-md-2"></div>

        <div style="color: red;" class="col-md-10">
            @ViewBag.Msg
        </div>
        
        
        <br><br>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
        <fieldset>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group" style="margin-top: 8%;">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" > 
            <div class="col-md-offset-2 col-md-10" style="margin-top: 5%;">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
           
            @Html.HiddenFor(model => model.FullName,new { Value = "asdasd" })
    </fieldset>
        }
        <br><br>
        @Html.ActionLink("Back home","Index","Home")

    @*<form action="Login" method="post">
        <input type="text" name="username" />

        <input type="password" name="password" />

        <input type="submit" value="Login"/>
    </form>*@
    </div>