@model WebApplication1.Models.ViewModelResult
@{
    ViewBag.Title = "Result";
}

    <div class="tt-single-topic">
        <div class="tt-item-header">
            <div class="tt-item-info info-top">
                <div class="tt-avatar-icon">
                    <i class="tt-icon"><svg><use xlink:href="#icon-ava-d"></use></svg></i>
                </div>
                <div class="tt-avatar-title">
                    <a href="#"> @Html.DisplayFor(model => model.articleDetail.ArtAuthor)</a>
                </div>
                <a href="#" class="tt-info-time">
                    <i class="tt-icon"><svg><use xlink:href="#icon-time"></use></svg></i> @Html.DisplayFor(model => model.articleDetail.ArtPostTime)
                </a>
            </div>

            <div class="tt-item-tag">
                <h1 class="tt-title">@Html.DisplayFor(model => model.articleDetail.ArtTittle)</h1>
            </div>
        </div>

        <div class="tt-item-description">
            <h>
                @Html.DisplayFor(model => model.articleDetail.ArtContent)
            </h>
        </div>

        <br />
        <br />
        <br />
        @if (Session["ROLE"] != null && Session["USER_NAME"] != null)
        {
            if (Session["ROLE"].ToString().Equals("Admin"))
            {
                if (Model.articleDetail.ArtStatus.ToString().Equals("New"))
                {

                    <span class="glyphicon glyphicon-ok">  @Html.ActionLink("Approve", "Approved", "Admin", new { id = Model.articleDetail.ArtID }, null) </span>

                }

                if (Model.articleDetail.ArtStatus.ToString().Equals("Active") || Model.articleDetail.ArtStatus.ToString().Equals("New"))
                {
                    <span class="glyphicon glyphicon-remove-circle">    @Html.ActionLink("Delete", "Deleted", "Admin", new { id = (Model.articleDetail.ArtID) }, null)</span>
                }





            }


        }





        @using (Html.BeginForm("Create", "Comments", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Comment</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.comment.CommContent, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.comment.CommContent, new { htmlAttributes = new { @class = "form-control", @required = "" } })
                        @Html.ValidationMessageFor(model => model.comment.CommContent, "", new { @class = "text-danger" })

                        @Html.HiddenFor(model => model.comment.ArtID, new { Value = Model.articleDetail.ArtID })
                    </div>

                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Post Comment" class="btn btn-default"
                               id="btnPostComment" disabled />

                        @if (Session["USER_NAME"] == null)
                        {
                            <p style="color:red;">You have to login to post comment </p>
                        }
                        else
                        {
                            <script>
                                document.getElementById('btnPostComment').removeAttribute('disabled');
                            </script>
                            @Html.HiddenFor(model => model.comment.Username, new { Value = Session["USER_NAME"].ToString() })
                        }
                    </div>
                </div>
            </div>

            @Html.HiddenFor(model => model.comment.CommPostTime, new { Value = "2020-02-02" })
        }
        @foreach (var item in Model.listComment)
        {

            <section class="comment-list">
                <!-- First Comment -->
                <article class="row">
                    <div class="col-md-2 col-sm-2 hidden-xs">
                        <figure class="thumbnail" style="width: 70px; float:right;">

                            <img class="img-responsive" src="http://www.tangoflooring.ca/wp-content/uploads/2015/07/user-avatar-placeholder.png" />
                            <figcaption class="text-center">
                                @Html.DisplayFor(modelItem => item.Username)
                            </figcaption>
                        </figure>
                    </div>

                    <div class="col-md-10 col-sm-10">
                        <div class="panel panel-default arrow left" style="height: 85px;">
                            <div class="panel-body">
                                <div class="comment-post">
                                    <p>
                                        @Html.DisplayFor(modelItem => item.CommContent)
                                    </p>
                                </div>

                                <div class="text-right">
                                    <time class="comment-date" datetime="16-12-2014 01:05">
                                        <i class="fa fa-clock-o"></i>
                                        @Html.DisplayFor(modelItem => item.CommPostTime)
                                    </time>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
        }
    </div>

