@model IEnumerable<WebApplication1.Models.Article>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="tt-topic-list">
    <div class="tt-list-header">
        <div class="tt-col-topic col-10">Topic</div>
        <div class="tt-col-value hide-mobile">Time post</div>
    </div>

    @*@Html.ActionLink("Edit", "Edit", new { id = item.ArtID })
    @Html.ActionLink("Details", "Details", new { id = item.ArtID })
    @Html.ActionLink("Delete", "Delete", new { id = item.ArtID })*@

    @foreach (var item in Model)
    {

<div class="tt-topic-alert tt-alert-default" role="alert">
        @Html.ActionLink(item.ArtTittle, "Details", new { id = item.ArtID })
</div>

        <div class="tt-item tt-itemselect">
            <div class="tt-col-description col-10">
                <h6 class="tt-title">
                    @Html.DisplayName(item.ArtContent.Substring(0, 50))
                </h6>
                <div class="row align-items-center no-gutters">
                    <div class="col-9">
                        <ul class="tt-list-badge">
                            <li>
                                <a href="#">
                                    <span class="tt-badge">
                                        @Html.DisplayFor(modelItem => item.ArtAuthor)
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="tt-col-value hide-mobile">
                @Html.DisplayFor(modelItem => item.ArtPostTime)
            </div>
        </div>


        @*<div class="tt-row-btn">
                <button type="button" class="btn-icon js-topiclist-showmore">
                    <svg class="tt-icon">
                        <use xlink:href="#icon-load_lore_icon"></use>
                    </svg>
                </button>
            </div>*@
    }
</div>


    