@model IEnumerable<WebApplication1.Models.Article>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="tt-topic-list">
    <div class="tt-list-header">
        <div class="tt-col-topic">Topic</div>
        <div class="tt-col-value hide-mobile">Time post</div>
    </div>

    @foreach (var item in Model)
    {
                @Html.DisplayFor(modelItem => item.ArtContent)
                @Html.DisplayFor(modelItem => item.ArtAuthor)
                @Html.DisplayFor(modelItem => item.ArtStatus)

                @Html.ActionLink("Edit", "Edit", new { id = item.ArtID }) 
                @Html.ActionLink("Details", "Details", new { id = item.ArtID }) 
                @Html.ActionLink("Delete", "Delete", new { id = item.ArtID })

    <div class="tt-topic-alert tt-alert-default" role="alert">
        <a href="#" target="_blank">4 new posts</a> are added recently, click here to load them.
    </div>

    <div class="tt-item tt-itemselect">
        <div class="tt-col-description">
            <h6 class="tt-title">
                <a href="page-single-topic.html">
                    @Html.DisplayFor(modelItem => item.ArtTittle)
                </a>
            </h6>
            <div class="row align-items-center no-gutters">
                <div class="col-11">
                    <ul class="tt-list-badge">
                        <li><a href="#"><span class="tt-badge">authors</span></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="tt-col-value hide-mobile">
            @Html.DisplayFor(modelItem => item.ArtPostTime)
        </div>
    </div>


    <div class="tt-row-btn">
        <button type="button" class="btn-icon js-topiclist-showmore">
            <svg class="tt-icon">
                <use xlink:href="#icon-load_lore_icon"></use>
            </svg>
        </button>
    </div>
    }
</div>


    