@model IEnumerable<WebApplication1.Models.Comment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CommContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommPostTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CommContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommPostTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArtID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CommID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CommID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CommID })
        </td>
    </tr>
}

</table>
