@model IEnumerable<WebApplication1.Models.Article>

@{
    ViewBag.Title = "Index";
}

<h2>Article</h2>


<div class="tt-topic-list">
    <div class="tt-list-header">
        <div class="tt-col-topic col-10">Topic</div>
    </div>

    @*@Html.ActionLink("Edit", "Edit", new { id = item.ArtID })
    @Html.ActionLink("Details", "Details", new { id = item.ArtID })
    @Html.ActionLink("Delete", "Delete", new { id = item.ArtID })*@

    @foreach (var item in Model)
    {
        //article ID
        <div class="tt-topic-alert tt-alert-default" role="alert">
            @Html.ActionLink(item.ArtTittle, "Details", new { id = item.ArtID })
        </div>

        <div class="tt-item tt-itemselect">
            <div class="tt-col-description col-10">
                <h6 class="tt-title">
                    @Html.DisplayName(item.ArtContent.Substring(0, 20))
                </h6>
                <div class="row align-items-center no-gutters">
                    <div class="col-4">
                        <ul class="tt-list-badge">
                            <li>
                                <a href="#">
                                    <span class="tt-badge">
                                        <span class="glyphicon glyphicon-user"> @Html.DisplayFor(modelItem => item.ArtAuthor)</span>      
                                    </span>

                                </a>
                            </li>

                        </ul>
                 
                <div class="tt-col ">
              
                 

                        <span class="glyphicon glyphicon-time">    @Html.DisplayFor(modelItem => item.ArtPostTime) </span>

                </div>
                           </div>
                    Status: @Html.DisplayName(item.ArtStatus)
                </div>
            </div>
          
            <div class="col-20">
                @if (item.ArtStatus.ToString().Equals("New"))
                {
                <ul>

                    <span class="glyphicon glyphicon-ok">  @Html.ActionLink("Approve", "Approved", new { id = item.ArtID })</span>


                </ul>
                }
            <ul>
                @if (item.ArtStatus.ToString().Equals("Active") || item.ArtStatus.ToString().Equals("New"))
                {
                    <span class="glyphicon glyphicon-remove-circle">    @Html.ActionLink("Delete", "Deleted", new { id = item.ArtID })</span>

                }



                </ul>

            </div>

        </div>


        @*<div class="tt-row-btn">
                <button type="button" class="btn-icon js-topiclist-showmore">
                    <svg class="tt-icon">
                        <use xlink:href="#icon-load_lore_icon"></use>
                    </svg>
                </button>
            </div>*@
    }
</div>


    